/* 항해피디아 공통 색상 */
:root {
  --hanghae: #ff0558;
}

.navbar-brand {
  width: 12vw;
}
.login-btn {
  color: gray;
}
.login-btn:hover {
  color: var(--hanghae);
}
.login-btn:active {
  border-color: rgba(0, 0, 0, 0);
  color: var(--hanghae);
}
.signup-btn {
  border-color: gray;
}
.signup-btn:hover {
  color: white;
  background-color: var(--hanghae);
}
