/* 항해피디아 공통 색상 */
:root {
  --hanghae: #ff0558;
}

.navbar-brand {
  width: 12vw;
}
.login-btn {
  color: gray;
}
.login-btn:hover {
  color: var(--hanghae);
}
.login-btn:active {
  border-color: rgba(0, 0, 0, 0);
  color: var(--hanghae);
}
.signup-btn {
  border-color: gray;
}
.signup-btn:hover {
  color: white;
  background-color: var(--hanghae);
}
.input-form {
  box-sizing: border-box;
  background: rgb(245, 245, 245);
  width: 100%;
  height: 44px;
  padding: 0px 12px;
  border-radius: 6px;
  border: none;
}
.m-footer {
  padding: 1rem;
}
.s-msg {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 20px;
  color: rgb(140, 140, 140);
  text-align: center;
  margin: 20px 0px 14px;
}
.s-btn {
  background: none;
  padding: 0px;
  border: none;
  margin: 0px;
  cursor: pointer;
  color: rgb(255, 47, 110);
}
.btn-hanghae {
  width: 100%;
  padding: 0px;
  border: none;
  cursor: pointer;
  background: rgb(255, 47, 110);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.7px;
  line-height: 22px;
  width: 100%;
  height: 44px;
  border-radius: 6px;
}
.btn-hanghae:hover {
  background-color: var(--hanghae);
  color: white;
  text-align: center;
  width: 100%;
}
