<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>항해피디아</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="../static/js/jquery.cookie.js"></script>
  </head>

  <body>
    <nav class="navbar border-bottom">
      <div class="container-fluid">
        <div onclick="{{ url_for('home') }}">
          <img class="logo-img" src="../static/logo.png" alt="" />
        </div>
        <div class="d-flex me-4">
          <button
            type="button"
            class="btn me-2 login-btn"
            id="login-btn"
            data-bs-toggle="modal"
            data-bs-target="#loginModal"
          >
            로그인
          </button>
          <button
            type="button"
            class="btn me-2 login-btn"
            id="logout-btn"
            data-bs-toggle="modal"
            data-bs-target="#logoutModal"
          >
            로그아웃
          </button>
          <button
            type="button"
            class="btn signup-btn"
            id="signup-btn"
            data-bs-toggle="modal"
            data-bs-target="#signupModal"
          >
            회원가입
          </button>
        </div>
      </div>
    </nav>

    <!-- 로그인 모달 -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="m-header p-3 mt-4">
            <img class="modal-logo-img" src="../static/logo.png" alt="" />
            <h1 class="modal-title text-center fs-4 mt-4" id="loginModalLabel">로그인</h1>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <input
                  type="text"
                  id="login-user-id"
                  class="input-form"
                  placeholder="아이디"
                  onkeyup="inputValChk('userId', 'login-user-id')"
                />
              </div>
              <div class="mb-3">
                <input
                  type="password"
                  id="login-user-pw"
                  class="input-form"
                  placeholder="비밀번호"
                  onkeyup="inputValChk('password', 'login-user-pw')"
                />
              </div>
            </form>
          </div>
          <div class="m-footer">
            <button type="button" class="btn-hanghae" onclick="login()">로그인</button>
            <div class="s-msg">
              계정이 없으신가요?
              <button class="s-btn" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#signupModal">
                회원가입
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 회원가입 모달 -->
    <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="m-header p-3 mt-4">
            <img class="modal-logo-img" src="../static/logo.png" alt="" />
            <h1 class="modal-title text-center fs-4 mt-4" id="signupModalLabel">회원가입</h1>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <input
                  type="text"
                  id="sign-user-name"
                  class="input-form"
                  placeholder="이름"
                  onkeyup="inputValChk('userName', 'sign-user-name')"
                />
              </div>
              <div class="mb-3">
                <input
                  type="text"
                  id="sign-user-id"
                  class="input-form"
                  placeholder="아이디"
                  onkeyup="inputValChk('userId', 'sign-user-id')"
                />
              </div>
              <div class="mb-3">
                <input
                  type="password"
                  id="sign-password"
                  class="input-form"
                  placeholder="비밀번호"
                  onkeyup="inputValChk('password', 'sign-password')"
                />
              </div>
              <div class="mb-3">
                <input type="password" id="password-check" class="input-form" placeholder="비밀번호 확인" />
              </div>
            </form>
          </div>
          <div class="m-footer">
            <button type="button" class="btn-hanghae" onclick="signup()">회원가입</button>
            <div class="s-msg">
              이미 가입하셨나요?
              <button class="s-btn" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#loginModal">
                로그인
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 로그아웃 모달 -->
    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <div class="alert-msg">알림</div>
            <div class="logout-check">로그아웃 하시겠어요?</div>
          </div>
          <div class="d-flex justify-content-center p-2 mb-3">
            <button type="button" class="logout-modal-btn close me-2" data-bs-dismiss="modal">닫기</button>
            <button type="button" class="logout-modal-btn me-2" onclick="logout()">확인</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 박스오피스 TOP 20 -->
    <div class="box_container d-flex justify-content-center">
      <div class="box_div">
        <div class="title_div">
          <p class="box_title">박스오피스 TOP 20</p>
          <!--박스오피스 타이틀-->
        </div>
        <div class="swiper mySwiper">
          <div id="swiper-wrapper" class="swiper-wrapper"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>

    <!-- 자동 슬라이드 -->
    <div class="d-flex justify-content-center">
      <div class="slider">
        <div class="slides">
          <div class="slide active">
            <img
              src="https://search.pstatic.net/common?type=f&size=206x290&quality=100&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20231108_128%2F1699411327204OxmAK_JPEG%2Fmovie_image.jpg"
              alt=""
            />
            <img
              src="https://search.pstatic.net/common?type=f&size=206x290&quality=100&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20231020_277%2F1697766507454EFUvK_JPEG%2Fmovie_image.jpg"
              alt=""
            />
            <img
              src="https://search.pstatic.net/common?type=f&size=206x290&quality=100&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20231207_33%2F1701877811469ojHV9_JPEG%2Fmovie_image.jpg"
              alt=""
            />
            <img
              src="https://search.pstatic.net/common?type=f&size=206x290&quality=100&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20231129_200%2F1701235194103rgnJ1_JPEG%2Fmovie_image.jpg"
              alt=""
            />
            <img
              src="https://search.pstatic.net/common?type=f&size=206x290&quality=100&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20231130_162%2F1701308134241kbHHU_JPEG%2Fmovie_image.jpg"
              alt=""
            />
          </div>
          <div class="slide">
            <img
              src="https://search.pstatic.net/common?type=f&size=206x290&quality=100&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20231123_142%2F1700665316092vgiMJ_JPEG%2Fmovie_image.jpg"
              alt=""
            />
            <img
              src="https://search.pstatic.net/common?type=f&size=206x290&quality=100&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20231026_9%2F16983044100188P1Ff_JPEG%2Fmovie_image.jpg"
              alt=""
            />
            <img
              src="https://search.pstatic.net/common?type=f&size=206x290&quality=100&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20231206_124%2F1701838700978ar0oh_JPEG%2Fmovie_image.jpg"
              alt=""
            />
            <img
              src="https://search.pstatic.net/common?type=f&size=206x290&quality=100&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20210915_104%2F1631681279096sdjNA_JPEG%2Fmovie_image.jpg"
              alt=""
            />
            <img
              src="https://search.pstatic.net/common?type=f&size=206x290&quality=100&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20231103_182%2F1698995150444NElMy_JPEG%2Fmovie_image.jpg"
              alt=""
            />
          </div>
          <div class="slide">
            <img
              src="https://search.pstatic.net/common?type=f&size=206x290&quality=100&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20231024_201%2F1698109935621RlE0o_JPEG%2Fmovie_image.jpg"
              alt=""
            />
            <img
              src="https://search.pstatic.net/common?type=f&size=206x290&quality=100&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20231105_129%2F1699165473913SyOEL_JPEG%2Fmovie_image.jpg"
              alt=""
            />
            <img
              src="https://search.pstatic.net/common?type=f&size=206x290&quality=100&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20231130_34%2F1701310445894SL4AX_JPEG%2Fmovie_image.jpg"
              alt=""
            />
            <img
              src="https://search.pstatic.net/common?type=f&size=206x290&quality=100&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20231123_73%2F1700744043568o7FSP_JPEG%2Fmovie_image.jpg"
              alt=""
            />
            <img
              src="https://search.pstatic.net/common?type=f&size=206x290&quality=100&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20231106_145%2F169919951043106bD7_JPEG%2Fmovie_image.jpg"
              alt=""
            />
          </div>
          <div class="slide">
            <img
              src="https://search.pstatic.net/common?type=f&size=206x290&quality=100&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20231113_43%2F1699851449023J0ooz_JPEG%2Fmovie_image.jpg"
              alt=""
            />
            <img
              src="https://search.pstatic.net/common?type=f&size=206x290&quality=100&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20231124_101%2F1700788833884051RD_PNG%2Fmovie_image.jpg"
              alt=""
            />
            <img
              src="https://search.pstatic.net/common?type=f&size=206x290&quality=100&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20230927_32%2F1695790185763mU0aR_JPEG%2Fmovie_image.jpg"
              alt=""
            />
            <img
              src="https://search.pstatic.net/common?type=f&size=206x290&quality=100&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20231107_36%2F1699329179978CKJCY_JPEG%2Fmovie_image.jpg"
              alt=""
            />
            <img
              src="https://search.pstatic.net/common?type=f&size=206x290&quality=100&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20221104_258%2F1667527490266scSO3_JPEG%2Fmovie_image.jpg"
              alt=""
            />
          </div>
        </div>
        <div class="slide-manual">
          <input type="button" for="btn1" class="manual-btn" />
          <input type="button" for="btn2" class="manual-btn" />
          <input type="button" for="btn3" class="manual-btn" />
          <input type="button" for="btn4" class="manual-btn" />
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
