<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <title>항해피디아</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="../static/js/jquery.cookie.js"></script>

</head>

<body>
  <nav class="navbar border-bottom">
    <div class="container-fluid">
      <div class="navbar-brand" onclick="{{ url_for('home') }}">
        <img class="img-fluid" src="../static/logo.png" alt="" />
      </div>
      <div class="d-flex me-4">
        <button type="button" class="btn me-2 login-btn" id="login-btn" data-bs-toggle="modal"
          data-bs-target="#loginModal">
          로그인
        </button>
        <button type="button" class="btn me-2 login-btn" id="logout-btn" data-bs-toggle="modal"
          data-bs-target="#logoutModal">
          로그아웃
        </button>
        <button type="button" class="btn signup-btn" id="signup-btn" data-bs-toggle="modal"
          data-bs-target="#signupModal">
          회원가입
        </button>
      </div>
    </div>
  </nav>

  <!-- 로그인 모달 -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="loginModalLabel">로그인</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="userId" class="form-label">아이디</label>
              <input type="text" id="login-user-id" class="form-control" placeholder="아이디를 입력해주세요." />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">비밀번호</label>
              <input type="password" id="login-user-pw" class="form-control" placeholder="비밀번호를 입력해주세요." />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          <button type="button" class="btn btn-primary" onclick="login()">확인</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 회원가입 모달 -->
  <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="signupModalLabel">회원가입</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="userName" class="form-label">이름</label>
              <input type="text" id="sign-user-name" class="form-control" placeholder="이름을 입력해주세요." />
            </div>
            <div class="mb-3">
              <label for="userId" class="form-label">아이디</label>
              <input type="text" id="sign-user-id" class="form-control" placeholder="아이디를 입력해주세요." />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">비밀번호</label>
              <input type="password" id="sign-password" class="form-control" placeholder="비밀번호를 입력해주세요." />
            </div>
            <div class="mb-3">
              <label for="passwordCheck" class="form-label">비밀번호 확인</label>
              <input type="password" id="password-check" class="form-control" placeholder="비밀번호를 다시 입력해주세요." />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          <button type="button" class="btn btn-primary" onclick="signup()">확인</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 로그아웃 모달 -->
  <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div>로그아웃 하시겠습니까?</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          <button type="button" class="btn btn-primary" onclick="logout()">확인</button>
        </div>
      </div>
    </div>
  </div>
   
  

  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div id='card1'class="carousel-item active" data-bs-interval="">
         <img src="https://cnbl-cdn.bamgrid.com/assets/d8ebe79fab0ab9ce57c40ae94a8ec3c62577b4c20dff791d509fa8c56d359e44/original" class="d-block w-100" alt="...">
         <div class="carousel-caption">
          <img src="/static/logo_12.png" width="200px" alt="500000">
          <h3>비질란테</h3>
          <p>동네 건달에게 어머니를 잃은 피해자 김지용이 죄질에 비해 터무니 없이 가벼운 형량을 받고 그렇게 선처를 받고도 그 짓을 계속 저지르는 자들을 심판한다는, 사법불신과 사적제재에 관한 내용을 그린다</p>
         </div>   
      </div>
      <div id='card2' class="carousel-item" data-bs-interval="500000">
        <img src="https://cnbl-cdn.bamgrid.com/assets/cc2869c19ed622cb9b74bfc3ac02a35c47bec6c3113e6ab99508763f062aa5a1/original" class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <img src="/static/logo_12.png" width="200px" alt="500000">
          <h3>사운드트랙#2</h3>
          <p>피아노 과외 선생님 ‘현서’가 뜨겁게 사랑하고 차갑게 헤어졌던 전연인과 바랜 꿈을 다시 잡아준 연하남과 함께 뮤직 프로젝트를 위해 한 집에 머물게 되면서 벌어지는 로맨스 드라마
          </p>
              
        </div>
      </div>
      <div id='card3'class="carousel-item" data-bs-interval="500000">
        <img src="https://cnbl-cdn.bamgrid.com/assets/f41cb58063cd8db1e296c36216e4b2cf76013504015f1b6777c8d9fd27c2e795/original" class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <img src="/static/logo_12.png" width="200px" alt="500000">
          <h3>드라마:밀수</h3>
          <p>평화롭던 바닷가 마을 군천에 화학 공장이 들어서면서 하루아침에 일자리를 잃은 해녀들. 먹고 살기 위한 방법을 찾던 승부사 춘자는 바다 속에 던진 물건을 건져 올리기만 하면 큰돈을 벌 수 있다는 밀수의 세계를 알게 되고 해녀들의 리더 진숙에게 솔깃한 제안을 한다.</p>
        </div>      
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
    
    <div id="today" class="today">
        <img src="" alt="">
        <p>오늘의 영화:</p>
        <h1>토르: 러브 앤 썬더-</h1>
        <p id="overview"></p>
    </div>

  <div class="box_div">
    <div class="title_div">
      <p class="box_title">박스오피스 TOP 20</p> <!--박스오피스 타이틀-->
    </div>
    <div class="swiper mySwiper">
      <div id="swiper-wrapper"class="swiper-wrapper">
        
        <!-- <div id="swiper-slide"class="swiper-slide"></div>
        <div id="swiper-slide"class="swiper-slide"></div>
        <div id="swiper-slide"class="swiper-slide"></div>
        <div id="swiper-slide"class="swiper-slide"></div>
        <div id="swiper-slide"class="swiper-slide"></div>
        <div id="swiper-slide"class="swiper-slide"></div>
        <div id="swiper-slide"class="swiper-slide"></div>
        <div id="swiper-slide"class="swiper-slide"></div>
        <div id="swiper-slide"class="swiper-slide"></div>
        <div id="swiper-slide"class="swiper-slide"></div>
        <div id="swiper-slide"class="swiper-slide"></div>
        <div id="swiper-slide"class="swiper-slide"></div>
        <div id="swiper-slide"class="swiper-slide"></div>
        <div id="swiper-slide"class="swiper-slide"></div>
        <div id="swiper-slide"class="swiper-slide"></div>
        <div id="swiper-slide"class="swiper-slide"></div>
        <div id="swiper-slide"class="swiper-slide"></div> -->
       
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <!-- <div id="box_content" class="box_content d-flex justify-content-between">
    박스오피스 이미지-->
  </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
    </script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


</body>

</html>