.slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: black;
}

.slides {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.slide {
    width: 20%;
    display: flex;
    margin-right: 100%;
    transition: 2s;
}

.slide > img {
    width: 600%;
    height: 100%;
    margin-right: 10px;
    
}

.slide-manual {
    width: 100%;
    height: 10px;
    margin-top: 325px;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-right: 80px;
}

.manual-btn {
    width: 200px;
    background-color: rgb(200, 200, 200);
    border: 1px solid rgb(180, 180, 180);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.manual-btn:not(:last-child) {
    margin-right: 10px;
}

.manual-btn:hover {
    background-color: rgb(50, 50, 50);
}
